<?xml version="1.0" encoding="UTF-8" ?>
<routes xmlns="http://symfony.com/schema/routing"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://symfony.com/schema/routing
        https://symfony.com/schema/routing/routing-1.0.xsd">

    <!-- POST ROUTES -->

    <route id="post.list" path="/posts/{page}" methods="GET"
           controller="App\Controller\Post\ListController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
    </route>

    <route id="post.by.id" path="/posts/{id}" methods="GET"
           controller="App\Controller\Post\FindByIdController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.by.slug" path="/posts/{slug}" methods="GET"
           controller="App\Controller\Post\FindBySlugController">
        <requirement key="slug">^[a-zA-Z0-9-_]+$</requirement>
    </route>

    <route id="post.create" path="/posts" methods="POST"
           controller="App\Controller\Post\CreateController"/>

    <route id="post.update" path="/posts/{id}/update" methods="PUT"
           controller="App\Controller\Post\UpdateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.update.image" path="/posts/{id}/image/update" methods="PUT"
           controller="App\Controller\Post\ImageController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.update.category" path="/posts/{id}/category/update" methods="PUT"
           controller="App\Controller\Post\CategoryController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.update.tags" path="/posts/{id}/tags/update" methods="PUT"
           controller="App\Controller\Post\TagsController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.add.tag" path="/posts/{id}/tag/{tagId}/add" methods="GET"
           controller="App\Controller\Post\AddTagController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
        <requirement key="tagId">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.remove.tags" path="/posts/{id}/tag/{tagId}/remove" methods="GET"
           controller="App\Controller\Post\RemoveTagController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
        <requirement key="tagId">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.publish" path="/posts/{id}/publish" methods="GET"
           controller="App\Controller\Post\PublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.un.publish" path="/posts/{id}/un-publish" methods="GET"
           controller="App\Controller\Post\UnPublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.trash" path="/posts/{id}/trash" methods="DELETE"
           controller="App\Controller\Post\TrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.un.trash" path="/posts/{id}/un-trash" methods="GET"
           controller="App\Controller\Post\UnTrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.destroy" path="/posts/{id}/destroy" methods="DELETE"
           controller="App\Controller\Post\DestroyController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.like" path="/posts/{id}/like" methods="GET"
           controller="App\Controller\Post\LikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.un.like" path="/posts/{id}/un-like" methods="GET"
           controller="App\Controller\Post\UnLikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <!-- POST ROUTES -->

    <!-- POST COMMENT ROUTES -->

    <route id="post.comment.list" path="/posts/{id}/comments/{page}" methods="GET"
           controller="App\Controller\PostComment\ListController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.create" path="/posts/{id}/comments" methods="POST"
           controller="App\Controller\PostComment\CreateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.update" path="/posts/comments/{id}/update" methods="PUT"
           controller="App\Controller\PostComment\UpdateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.publish" path="/posts/comments/{id}/publish" methods="GET"
           controller="App\Controller\PostComment\PublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.un.publish" path="/posts/comments/{id}/un-publish" methods="GET"
           controller="App\Controller\PostComment\UnPublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.trash" path="/posts/comments/{id}/trash" methods="DELETE"
           controller="App\Controller\PostComment\TrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.un.trash" path="/posts/comments/{id}/un-trash" methods="GET"
           controller="App\Controller\PostComment\UnTrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.destroy" path="/posts/comments/{id}/destroy" methods="DELETE"
           controller="App\Controller\PostComment\DestroyController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.like" path="/posts/comments/{id}/like" methods="GET"
           controller="App\Controller\PostComment\LikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.comment.un.like" path="/posts/comments/{id}/un-like" methods="GET"
           controller="App\Controller\PostComment\UnLikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <!-- POST COMMENT ROUTES -->

    <!-- IMAGE ROUTES -->

    <route id="image.list" path="/images/{page}" methods="GET"
           controller="App\Controller\Image\ListController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
    </route>

    <route id="image.by.id" path="/images/{id}" methods="GET"
           controller="App\Controller\Image\FindByIdController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.by.slug" path="/images/{slug}" methods="GET"
           controller="App\Controller\Image\FindBySlugController">
        <requirement key="slug">^[a-zA-Z0-9-_]+$</requirement>
    </route>

    <route id="image.create" path="/images" methods="POST"
           controller="App\Controller\Image\CreateController"/>

    <route id="image.update" path="/image/{id}/update" methods="PUT"
           controller="App\Controller\Image\UpdateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.update.category" path="/images/{id}/category/update" methods="PUT"
           controller="App\Controller\Image\CategoryController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.update.tags" path="/images/{id}/tags/update" methods="PUT"
           controller="App\Controller\Image\TagsController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="images.add.tag" path="/images/{id}/tag/{tagId}/add" methods="GET"
           controller="App\Controller\Image\AddTagController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
        <requirement key="tagId">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.remove.tags" path="/images/{id}/tag/{tagId}/remove" methods="GET"
           controller="App\Controller\Image\RemoveTagController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
        <requirement key="tagId">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.publish" path="/images/{id}/publish" methods="GET"
           controller="App\Controller\Image\PublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.un.publish" path="/images/{id}/un-publish" methods="GET"
           controller="App\Controller\Image\UnPublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.trash" path="/images/{id}/trash" methods="DELETE"
           controller="App\Controller\Image\TrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.un.trash" path="/images/{id}/un-trash" methods="GET"
           controller="App\Controller\Image\UnTrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.destroy" path="/images/{id}/destroy" methods="DELETE"
           controller="App\Controller\Image\DestroyController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.like" path="/images/{id}/like" methods="GET"
           controller="App\Controller\Image\LikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.un.like" path="/images/{id}/un-like" methods="GET"
           controller="App\Controller\Image\UnLikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <!-- IMAGE ROUTES -->

    <!-- IMAGE COMMENT ROUTES -->

    <route id="image.comment.list" path="/images/{id}/comments/{page}" methods="GET"
           controller="App\Controller\ImageComment\ListController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.create" path="/images/{id}/comments" methods="POST"
           controller="App\Controller\ImageComment\CreateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.update" path="/images/comments/{id}/update" methods="PUT"
           controller="App\Controller\ImageComment\UpdateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.publish" path="/images/comments/{id}/publish" methods="GET"
           controller="App\Controller\ImageComment\PublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.un.publish" path="/images/comments/{id}/un-publish" methods="GET"
           controller="App\Controller\ImageComment\UnPublishController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.trash" path="/images/comments/{id}/trash" methods="DELETE"
           controller="App\Controller\ImageComment\TrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.un.trash" path="/images/comments/{id}/un-trash" methods="GET"
           controller="App\Controller\ImageComment\UnTrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.destroy" path="/images/comments/{id}/destroy" methods="DELETE"
           controller="App\Controller\ImageComment\DestroyController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.like" path="/images/comments/{id}/like" methods="GET"
           controller="App\Controller\ImageComment\LikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.comment.un.like" path="/images/comments/{id}/un-like" methods="GET"
           controller="App\Controller\ImageComment\UnLikeController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <!-- IMAGE COMMENT ROUTES -->

    <!-- TAG ROUTES -->

    <route id="tag.list" path="/tags/{page}" methods="GET"
           controller="App\Controller\Tag\ListController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
    </route>

    <route id="tag.by.id" path="/tags/{id}/{page}" methods="GET"
           controller="App\Controller\Tag\FindByIdController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="tag.by.slug" path="/tags/{slug}/{page}" methods="GET"
           controller="App\Controller\Tag\FindBySlugController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="slug">^[a-zA-Z0-9-_]+$</requirement>
    </route>

    <route id="tag.create" path="/tags" methods="POST"
           controller="App\Controller\Tag\CreateController"/>

    <route id="tag.update" path="/tags/{id}" methods="PUT"
           controller="App\Controller\Tag\UpdateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="tag.trash" path="/tags/{id}/trash" methods="DELETE"
           controller="App\Controller\Tag\TrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="tag.destroy" path="/tags/{id}/destroy" methods="DELETE"
           controller="App\Controller\Tag\DestroyController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <!-- TAG ROUTES -->

    <!-- POST CATEGORY ROUTES -->

    <route id="post.category.list" path="/post-categories" methods="GET"
           controller="App\Controller\PostCategory\ListController">
    </route>

    <route id="post.category.by.id" path="/post-categories/{id}/{page}" methods="GET"
           controller="App\Controller\PostCategory\FindByIdController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.category.by.slug" path="/post-categories/{slug}/{id}" methods="GET"
           controller="App\Controller\PostCategory\FindBySlugController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="slug">^[a-zA-Z0-9-_]+$</requirement>
    </route>

    <route id="post.category.create" path="/post-categories" methods="POST"
           controller="App\Controller\PostCategory\CreateController"/>

    <route id="post.category.update" path="/post-categories/{id}/update" methods="PUT"
           controller="App\Controller\PostCategory\UpdateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.category.trash" path="/post-categories/{id}/trash" methods="DELETE"
           controller="App\Controller\PostCategory\TrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.category.un.trash" path="/post-categories/{id}/un-trash" methods="GET"
           controller="App\Controller\PostCategory\UnTrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="post.category.destroy" path="/post-categories/{id}/destroy" methods="DELETE"
           controller="App\Controller\PostCategory\DestroyController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <!-- POST CATEGORY ROUTES -->

    <!-- IMAGE CATEGORY ROUTES -->

    <route id="image.category.list" path="/image-categories" methods="GET"
           controller="App\Controller\ImageCategory\ListController">
    </route>

    <route id="image.category.by.id" path="/image-categories/{id}/{page}" methods="GET"
           controller="App\Controller\ImageCategory\FindByIdController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.category.by.slug" path="/image-categories/{slug}/{id}" methods="GET"
           controller="App\Controller\ImageCategory\FindBySlugController">
        <default key="page">1</default>
        <requirement key="page">\d+</requirement>
        <requirement key="slug">^[a-zA-Z0-9-_]+$</requirement>
    </route>

    <route id="image.category.create" path="/image-categories" methods="POST"
           controller="App\Controller\ImageCategory\CreateController"/>

    <route id="image.category.update" path="/image-categories/{id}/update" methods="PUT"
           controller="App\Controller\ImageCategory\UpdateController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.category.trash" path="/image-categories/{id}/trash" methods="DELETE"
           controller="App\Controller\ImageCategory\TrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.category.un.trash" path="/image-categories/{id}/un-trash" methods="GET"
           controller="App\Controller\ImageCategory\UnTrashController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <route id="image.category.destroy" path="/image-categories/{id}/destroy" methods="DELETE"
           controller="App\Controller\ImageCategory\DestroyController">
        <requirement key="id">[a-f0-9]{8}\-[a-f0-9]{4}\-4[a-f0-9]{3}\-(8|9|a|b)[a-f0-9]{3}\-[a-f0-9]{12}</requirement>
    </route>

    <!-- IMAGE CATEGORY ROUTES -->

    <!-- SECURITY ROUTES -->

    <route id="security.token.account.verify" path="/token/account/{token}" methods="GET"
           controller="App\Controller\Security\AccountVerificationController">
        <requirement key="token">[a-zA-Z0-9]{64}</requirement>
    </route>

    <route id="security.token.password.verify" path="/token/password/{token}" methods="POST"
           controller="App\Controller\Security\PasswordChangeVerifyTokenController">
        <requirement key="token">[a-zA-Z0-9]{64}</requirement>
    </route>

    <route id="security.token.password.send" path="/token/send-password-reset" methods="POST"
           controller="App\Controller\Security\PasswordChangeTokenController"/>

    <route id="security.token.email.verify" path="/token/email/{token}" methods="POST"
           controller="App\Controller\Security\EmailChangeVerifyTokenController">
        <requirement key="token">[a-zA-Z0-9]{64}</requirement>
    </route>

    <route id="security.token.email.send" path="/send-email-change-token" methods="POST"
           controller="App\Controller\Security\EmailChangeTokenController"/>

    <route id="security.register" path="/register" methods="POST"
           controller="App\Controller\Security\UserRegisterController"/>

    <!-- SECURITY ROUTES -->

    <!-- ACCOUNT AND PROFILE ROUTES -->

    <route id="account.view" path="/account" methods="GET"
           controller="App\Controller\Account\ViewController"/>

    <route id="account.update" path="/account" methods="POST"
           controller="App\Controller\Account\UpdateController"/>

    <route id="profile.view" path="/profile" methods="GET"
           controller="App\Controller\Profile\ViewController"/>

    <route id="profile.update" path="/profile" methods="POST"
           controller="App\Controller\Profile\UpdateController"/>

    <!-- ACCOUNT AND PROFILE ROUTES -->

</routes>