<h3>Welcome to the MicroPost portal!</h3>

Hello {{ user.fullname }}! You have requested a new activation code!<br><br>

Please confirm your account e-mail first by clicking this: <a href="www.niitlife.com/account/verify/token/{{ user.activationToken }}">link</a>

To login, go to the <a href="www.niitlife.com/login">login page</a>